<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChainStoreSystem</title>
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body style="background-color:silver">
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3" style="background-color:cadetblue">
            <div class="container">
                <img src="~/Admin/Logo2.png" alt="homepage" class="light-logo" style="height:50px;width:150px" />
                <marquee direction="left" width="80%">
                    <h5 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:darkred">Thank You Dear Customer For Visiting Our Store:Cell(+92345667790)</h5>
                </marquee>
                <div>
                    <a asp-action="LogIn" asp-controller="LogIn" class="fas fa-user" style="color:green"></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>
    </header>
    <div class="container">
       
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-left bottom-0" style="margin-left:8%">
        &copy; @System.DateTime.Now.Year
        All Rights Reserved by University of sialkot. Designed and Developed by <a href="#">Chain Store System</a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#Mytable').dataTable();
        });
        //code for bootstrap modal
        jQuery(document).ready(function ($) {
            $('#Mytable').DataTable({
                searching: false,
                responsive: true,
                "autoWidth": true,
            })
        });
        $(document).ready(function () {
            var table = $('#Mytable').DataTable();
            $('#Mytable tbody').on('click', 'tr', function () {
                console.log(table.row(this).data());
                console.log(table.row(this).data()[4]);
                var img = table.row(this).data()[4];
                var element = document.createElement("div");
                element.innerHTML = img;
                var images = element.getElementsByTagName("img");
                let imgpath = images[0].src;
                console.log(images[0].src);
                $(".modal-body div span").text("");
                $("#id span").text(table.row(this).data()[0]);
                $(".name span").text(table.row(this).data()[1]);
                $(".description span").text(table.row(this).data()[2]);
                $(".price span").text(table.row(this).data()[3]);
                $("#picture span").text(table.row(this).data()[4]);
                var img = document.getElementById("picture");
                img.src = imgpath;
                $(".discount span").text(table.row(this).data()[5]);
                $(".ExpDate span").text(table.row(this).data()[6]);
                $("#mymodal").modal("show");
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
