<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChainStoreSystem</title>
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body style="background-color:silver">
    <header>
        <nav class="navbar navbar-expand-sm navbar-expand-lg navbar-expand-md navbar-expand-xl navbar-expand-xxl navbar-toggleable-sm  border-bottom box-shadow mb-3" style="background-color:cadetblue;width:100%">
            <div class="container">
                <img src="~/Admin/Logo2.png" alt="homepage" class="light-logo" style="height:70px;width:150px" />
                <marquee direction="left" width="80%">
                    <h5 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:darkred">Thank You Dear Customer For Visiting Our Store:Cell(+92345667790)</h5>
                </marquee>
                <div>
                    <a asp-action="LogIn" asp-controller="LogIn" class="fas fa-user" style="color:green"></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>
    <br />
    <footer class="footer text-center">
        &copy; @System.DateTime.Now.Year
        All Rights Reserved by University of sialkot. Designed and Developed by <a href="#">Chain Store System</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/6232565ba34c2456412b6ca1/1fuaa2lvk';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
