@model ChainStoreSystem.Models.Account
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<head>
    <link href="~/LogInCss/style.css" rel="stylesheet" />
</head>
<br />
<div class="conatiner-fluid">
    <form asp-action="Login" asp-controller="Login" method="post">
        <div id="login-form" class=" justify-content-center">
            <div id="login">
                <h3>Login</h3>
            </div>
            <p style="font-size:12px">@ViewBag.message</p>
            <input type="text" asp-for="UserEmail" class="uname" id="input1" placeholder="Username" />
            <input type="password" asp-for="PassWord" id="input2" placeholder="Password" />
            <input type="submit" value="Login" class="btn" id="butn" />
        </div>
    </form>
</div>
<video autoplay muted loop> 
    <source src="~/LogInCss/bg1.mp4">
</video>

