@model ChainStoreSystem.ViewModel.DropDownViewModel.CategoryDropDownViewModel 

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-9" style="margin-left:1%">
        <form asp-action="Create" asp-controller="SubCategories" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubCategoryName" class="control-label"></label>
                <input asp-for="SubCategoryName" class="form-control" />
                <span asp-validation-for="SubCategoryName" class="text-danger"></span>
                <span asp-validation-for="SubCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategoryStatus" class="control-label"></label>
                <input asp-for="SubCategoryStatus" class="form-control" />
                <span asp-validation-for="SubCategoryStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
               <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.category">
                   <option>
                       Select category
                   </option>
               </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />&nbsp;<a asp-action="Index" class="btn btn-success">Back to</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
