@model ChainStoreSystem.Models.Area

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Detail/Area</h4>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<br />
<table class="table table-bordered table-hover table-responsive">
    <tr class="text-uppercase font-weight-bold" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <td>
            Name
        </td>
        <td>
            Address
        </td>
    </tr>
    <tr style="font-family:Arial">
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.Address)
        </td>
       
    </tr>
   
    <tr>
        <td>
            <a href="@Url.Action("Edit","Areas",new{id=Model.Id})" class="btn btn-primary">Edit</a>&nbsp;<a href="@Url.Action("Index","Areas")" class="btn btn-success"> Back To</a>
        </td>
    </tr>
</table>
