@model IEnumerable<ChainStoreSystem.Models.Order>
@{
    ViewData["Title"] = "TotalSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Total Sale/Reports</h4>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("SaleReport", "Reports", FormMethod.Post))
{
<table width="100%" border="1">
    <tr>

        <td>Date From:</td>
        <td><input name="DateFrom" type="datetime-local" value=@ViewBag.DateFrom class="form-control" /></td>

        <td>Date To:</td>

        <td><input name="DateTo" type="datetime-local" value=@ViewBag.DateTo class="form-control" /></td>

    </tr>

    <tr>
        <td style="padding-top:10px"><button class="btn  btn-block" style="background-color:#ff6666; color:white">Generate Report</button></td>
    </tr>
</table>
}
<br />
<table border="1" class="table table-responsive table-hover">
    <tr style="background-color:#ff6666; color:white">
        <th>Sr #</th>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Order Type</th>
        <th> Name</th>
        <th>status </th>

        <th>Invoice</th>
    </tr>
   
        
        <tr>
            <td>sr</td>
            <td>Order</td>
            <td>Datr Time</td>
            <td>Order_Type</td>

            <td>User_name</td>

            <td>Order_status</td>


            <td><a href="@Url.Action("Invoice","Reports")" class="btn btn-outline-primary">Invoice</a></td>
        </tr>
    
</table>

