@model ChainStoreSystem.ViewModel.ProductViewModel.ProductImageViewModel 

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-9" style="margin-left:1%">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Picture" class="control-label"></label>
                <input asp-for="Product_Picture" class="form-control" />
                <span asp-validation-for="Product_Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Discription_Max" class="control-label"></label>
                <input asp-for="Product_Discription_Max" class="form-control" />
                <span asp-validation-for="Product_Discription_Max" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Discription_Min" class="control-label"></label>
                <input asp-for="Product_Discription_Min" class="form-control" />
                <span asp-validation-for="Product_Discription_Min" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Sale_Price" class="control-label"></label>
                <input asp-for="Product_Sale_Price" class="form-control" />
                <span asp-validation-for="Product_Sale_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Purchase_Price" class="control-label"></label>
                <input asp-for="Product_Purchase_Price" class="form-control" />
                <span asp-validation-for="Product_Purchase_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Status" class="control-label"></label>
                <input asp-for="Product_Status" class="form-control" />
                <span asp-validation-for="Product_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Discount" class="control-label"></label>
                <input asp-for="Product_Discount" class="form-control" />
                <span asp-validation-for="Product_Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Add_Date" class="control-label"></label>
                <input asp-for="Product_Add_Date" class="form-control" />
                <span asp-validation-for="Product_Add_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Exp_Date" class="control-label"></label>
                <input asp-for="Product_Exp_Date" class="form-control" />
                <span asp-validation-for="Product_Exp_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sub_categoryId" class="control-label"></label>
               <select asp-for="Sub_categoryId" class="form-control" asp-items=" ViewBag.SubCategory">
                   --Select SubCategory
               </select>
                <span asp-validation-for="Sub_categoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label"></label>
                <select asp-for="AreaId" class="form-control" asp-items="ViewBag.Area" >
                    ---Slect Area---
                </select>
                <span asp-validation-for="AreaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />&nbsp; <a asp-action="Index" class="btn btn-success">Back to</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
